<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.moeykens.collectionview</string>
	<key>Ancestors</key>
	<array>
		<string>com.moeykens.mvc</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a collectionview.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift</string>
						<string>Main.storyboard</string>
						<string>CustomCollectionViewCell.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>CustomCollectionViewCell.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>CustomCollectionViewCell.swift</string>
		</dict>
		<key>Main.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>Main.storyboard</string>
		</dict>
		<key>ViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controller</string>
			</array>
			<key>Path</key>
			<string>ViewController.swift</string>
		</dict>
	</dict>
</dict>
</plist>
